@use '../function/import' as import;

/*------------------------------------------------------------
wrapper
--------------------------------------------------------------*/

.wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;
    //レスポンシブヘッダー部分のwrapperのスタイル
    @include import.sp{
        &--sp{
            padding: 0;
        }
    }

}